/*!
* @preserve
* MonoLisa 2.013
* This font is subject to a EULA. A user-licence can be acquired at:
*   https://www.monolisa.dev/license
* © 2024 FaceType Foundry. All Rights Reserved.
*/

@font-face {
  src: url(/woff2/0-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(/woff2/1-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(/woff2/2-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0080-00FF;
}

@font-face {
  src: url(/woff2/3-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0080-00FF;
}

@font-face {
  src: url(/woff2/4-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0100-017F;
}

@font-face {
  src: url(/woff2/5-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0100-017F;
}

@font-face {
  src: url(/woff2/6-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+1E00-1EFF;
}

@font-face {
  src: url(/woff2/7-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+1E00-1EFF;
}

@font-face {
  src: url(/woff2/8-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0180-024F;
}

@font-face {
  src: url(/woff2/9-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0180-024F;
}

@font-face {
  src: url(/woff2/10-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2C60-2C7F;
}

@font-face {
  src: url(/woff2/11-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2C60-2C7F;
}

@font-face {
  src: url(/woff2/12-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+A720-A7FF;
}

@font-face {
  src: url(/woff2/13-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+A720-A7FF;
}

@font-face {
  src: url(/woff2/14-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0250-02AF;
}

@font-face {
  src: url(/woff2/15-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0250-02AF;
}

@font-face {
  src: url(/woff2/16-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2000-206F;
}

@font-face {
  src: url(/woff2/17-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2000-206F;
}

@font-face {
  src: url(/woff2/18-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2070-209F;
}

@font-face {
  src: url(/woff2/19-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2070-209F;
}

@font-face {
  src: url(/woff2/20-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2600-26FF;
}

@font-face {
  src: url(/woff2/21-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2600-26FF;
}

@font-face {
  src: url(/woff2/22-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2700-27BF;
}

@font-face {
  src: url(/woff2/23-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2700-27BF;
}

@font-face {
  src: url(/woff2/24-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2300-23FF;
}

@font-face {
  src: url(/woff2/25-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2300-23FF;
}

@font-face {
  src: url(/woff2/26-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2100-214F;
}

@font-face {
  src: url(/woff2/27-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2100-214F;
}

@font-face {
  src: url(/woff2/28-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2190-21FF;
}

@font-face {
  src: url(/woff2/29-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2190-21FF;
}

@font-face {
  src: url(/woff2/30-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2B00-2BFF;
}

@font-face {
  src: url(/woff2/31-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2B00-2BFF;
}

@font-face {
  src: url(/woff2/32-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+20A0-20CF;
}

@font-face {
  src: url(/woff2/33-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+20A0-20CF;
}

@font-face {
  src: url(/woff2/34-normal.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2200-22FF;
}

@font-face {
  src: url(/woff2/35-italic.woff2) format("woff2");
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2200-22FF;
}
