@import url("../../public/fonts/monolisa.css");

$font-stack: "MonoLisa Variable", monospace;
$fg-color: #3c3836;
$bg-color: #fbf1c7;

html {
  font-family: $font-stack;
  font-feature-settings: "ss02", "zero";
  font-size: 16px;
  color: $fg-color;
  background-color: $bg-color;
}

body {
  max-width: 80ch;
  margin: auto;
}

h1.hero {
  font-size: 3rem;
  text-align: center;
}

h2.hero-sub {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}
