@use "./gruvbox" as *;
@import url("../../public/fonts/monolisa.css");

$font-stack: "MonoLisa Variable", monospace;

html {
  font-family: $font-stack;
  font-feature-settings: "zero";
  font-size: 16px;
}
