@use "./gruvbox" as *;
@import url("../../public/fonts/monolisa.css");

$font-stack: "MonoLisa Variable", monospace;

html {
  font-family: $font-stack;
  font-feature-settings: "zero";
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $gb-lm-fg0;
  background-color: $gb-lm-bg0;
}

header {
  text-align: center;
}

main {
}

footer {
  margin-top: auto;
  text-align: center;
}

nav {
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
