---
import Layout from "../layouts/Layout.astro";
---

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<Layout title="About">
  <main>
    <h1>About Me</h1>
    <img
      src="images/profile.jpeg"
      alt="Some guy with an awesome beard"
      width="600"
      height="auto"
    />
  </main>
</Layout>
