---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePic from "../images/profile.jpeg";
---

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<Layout title="About">
  <h1>About Me</h1>
  <Image
    src={profilePic}
    alt="Some dude with an awesome beard"
    width="600"
    loading="eager"
  />
  <h2>Who am I?</h2>
  <p>
    Hey there, my name's Will. I've been working as a church musician for the
    past ten years. Now, I'm learning how to program as I seek a career in
    full-stack web development! I'm married to the beautiful and talented Nancy,
    and the Lord has blessed us with two wonderful boys named Oliver and
    Sullivan.
  </p>

  <h2>What am I learning?</h2>
  <p>
    Ever since being introduced to the world of computer science and web
    development, I've been spending most of my free time learning and building
    cool stuff. I'm curious by nature, and the sheer amount of things to
    discover in this field is incredible! Beyond the standard web dev stuff, I'm
    interested in learning more about data structures, algorithms, and low-level
    languages like C and Rust.
  </p>

  <h2>What are my hobbies?</h2>
  <p>
    Just the standard, boring things like reading, watching movies, playing
    guitar, etc. I'm also a fan of classic video game franchises like Mario and
    Zelda.
  </p>

  <h2>What's up with the 🦆?</h2>
  <p>
    Ducks are cool little guys. Some might even call them <em>majestic.</em> I enjoy
    looking at ducks, feeding ducks, and collecting duck memorabilia. There are worse
    hobbies.
  </p>
</Layout>
