---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePic from "../images/profile.jpeg";
---

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<Layout title="About">
  <main>
    <h1>About Me</h1>
    <Image
      src={profilePic}
      alt="Some dude with an awesome beard"
      width="600"
      loading="eager"
    />
    <h2>Who am I?</h2>
    <p>
      Hey there, my name's Will. I've been working as a church musician for the
      past ten years. Now, I'm learning how to program as I seek a career in
      full-stack web development! I'm married to the beautiful and talented
      Nancy, and the Lord has blessed us with two wonderful boys.
    </p>

    <h2>What's up with the 🦆?</h2>
    <p>
      Ducks are pretty cool. I like looking at ducks, feeding ducks, and
      collecting duck paraphernalia. There are worse hobbies.
    </p>
  </main>
</Layout>
