---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePic from "../images/profile.jpeg";
const pageTitle = "About";
---

<Layout title={pageTitle}>
  <article class="mx-auto max-w-prose">
    <h1 class="my-16 text-center text-5xl font-bold">{pageTitle}</h1>
    <Image
      src={profilePic}
      alt="Will and his wife Nancy sitting at a coffee shop."
      width="600"
      loading="eager"
      class="mx-auto my-16 rounded-xl shadow"
    />
    <h2 class="mt-16 text-2xl font-semibold">Who am I?</h2>
    <p class="my-4">
      My name is Will Wingate, and I've been a professional church musician for
      the past ten years. Now, I'm developing my programming skills as I seek a
      career in full-stack web development! I'm married to the beautiful and
      talented Nancy, and the Lord has blessed us with two wonderful boys named
      Oliver and Sullivan.
    </p>

    <h2 class="mt-16 text-2xl font-semibold">What am I learning?</h2>
    <p class="my-4">
      Over the past year, I've spent every spare moment learning everything I
      can about computer science and building personal projects. Beyond the
      standard web development stuff, I'm also interested in developer tooling,
      command-line utilities, and systems programming. Most of the time you'll
      find me writing JavaScript or Python, but my love language is C.
    </p>

    <p>I use Vim, btw.</p>

    <h2 class="mt-16 text-2xl font-semibold">Why the 🦆?</h2>
    <p class="my-4">
      Ducks are cool little guys. Some might even call them <em>majestic.</em> I
      enjoy watching ducks, feeding ducks, and collecting duck memorabilia. There
      are worse hobbies.
    </p>
  </article>
</Layout>
