---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <section class="mx-auto max-w-prose">
    <h1 class="my-16 text-center text-5xl font-bold">{pageTitle}</h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </section>
</Layout>
