---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blog"
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Check here to see my latests blog posts!</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
