---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <h1>My Blog</h1>
  <p id="blog-subtitle">Check here to see my latests blog posts!</p>
  <ul>
    <li><a href="/posts/hello-world">Hello, World!</a></li>
  </ul>
</Layout>
