---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Welcome";
---

<Layout title={pageTitle}>
  <h1 class="mb-12 mt-24 text-pretty text-center text-5xl font-bold">
    Howdy, I'm Will 👋
  </h1>
  <h2 class="my-8 text-pretty text-center text-3xl font-semibold italic">
    and this is my website
  </h2>
</Layout>
