---
import Layout from "../layouts/Layout.astro";
---

<style>
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }
</style>

<Layout title="Home">
  <main>
    <h1>Hi, I'm Will 🦆</h1>
    <h2>And this is my Website</h2>
  </main>
</Layout>
