---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <h1 class="hero">Hi, I'm Will 👋</h1>
    <h2 class="hero-sub">And this is my website</h2>
  </main>
</Layout>
