---
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<footer class="mt-auto pb-4 pt-8">
  <div class="mb-4 flex items-center justify-center gap-16">
    <a href="https://github.com/wtwingate" aria-label="GitHub">
      <i class="fa-brands fa-github text-4xl hover:text-teal-700" title="GitHub"
      ></i>
    </a>
    <a href="https://www.linkedin.com/in/wtwingate/" aria-label="LinkedIn">
      <i
        class="fa-brands fa-linkedin text-4xl hover:text-teal-700"
        title="LinkedIn"></i>
    </a>
    <a href="https://x.com/wtwingate" aria-label="Twitter/X">
      <i
        class="fa-brands fa-x-twitter text-4xl hover:text-teal-700"
        title="Twitter/X"></i>
    </a>
  </div>
  <p class="text-center">Made with ❤️ by William Wingate</p>
</footer>
