---

---

<nav>
  <a href="/" class="btn" id="home"><div>Home</div></a>
  <a href="/blog" class="btn" id="blog"><div>Blog</div></a>
  <a href="/projects" class="btn" id="projects"><div>Stuff</div></a>
</nav>
