---

---

<nav class="flex items-center justify-center gap-16 text-2xl font-bold">
  <a class="transition hover:text-teal-700" href="/">Home</a>
  <a class="transition hover:text-teal-700" href="/blog">Blog</a>
  <a class="transition hover:text-teal-700" href="/projects">Projects</a>
</nav>
