---
const userName = "wtwingate";
---

<div>
  <a href=`https://github.com/${userName}`>GitHub</a>
  <a href=`https://www.linkedin.com/in/${userName}`>LinkedIn</a>
  <a href=`https://twitter.com/${userName}`>Twitter</a>
</div>
